.top-ten .card:before {
    content: attr(data-number);
    position:fixed;
    margin-left: 15px;
    font-size:4vw;
    bottom: -5px;
    width:50px;
    text-align:right;
}

.top-ten .card .cardBox {
    margin-left: 4.2em !important;
}

.top-ten .cardFooter {
    display:none;
}